.circle {
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:5px;
    color:#eee/*e2e2ee*/;
    line-height:50px;
    text-align:center;
    display: inline-block;
    background:#21587F;
}

.array-container {
    bottom: 70%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
}

.menu {
    height: 12%;
    width: 100%;
    background-color: #21587F;
    position: relative;
}

.bar {
    height: 3px;
    width : 100%;
    background-color: #f93;
    position: relative;
}

.bin-tree {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
}

.levels {
    position:absolute;
    width:20px;
    height:20px;
    border-radius:50px;
    font-size:10px;
    color:#fff;
    line-height:12px;
    text-align:center;
    display: inline-block;
    background: rgba(14, 39, 13, 0.747);
}

.button {
    position: absolute;
    margin-top: 1%;
    background: #101629;
    /*background-image: -webkit-linear-gradient(top, #101629, #101629);
    background-image: -moz-linear-gradient(top, #101629, #101629);
    background-image: -ms-linear-gradient(top, #101629, #101629);
    background-image: -o-linear-gradient(top, #101629, #101629);*/
    background-image: linear-gradient(to bottom, #21587F, #21587F);
    font-family: Arial;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    outline: none;
  }
  
  .button:hover {
    background: #3cb0fd;
    /*background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);*/
    background-image: linear-gradient(to bottom, #21587F, #21587F);
    text-decoration: none;
    border:none;
    outline: none;
  }