.circle {
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:5px;
    color:#eee;
    line-height:50px;
    text-align:center;
    display: inline-block;
    background:#21587F;
}

.array-container {
    bottom: 70%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
}

.menu {
    height: 12%;
    width: 100%;
    background-color: #21587F;
    position: absolute;
}

.bar {
    width : 100%;
    background-color: #f93;
    position: absolute;
    margin-top: 6%;
}

.bin-tree {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
}

.button {
    position: absolute;
    margin-top: 1%;
    background-color: #21587F;
    font-family: Arial;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    outline: none;
  }
  
.button:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #21587F, #21587F);
    text-decoration: none;
    border:none;
    outline: none;
  }



  .nested-dropdown__header * {
    padding: 0;
    margin: 0;
  }
  .nested-dropdown__header {
    display: flex;
    align-items: center;
    background: #21587F;
    /*that's mine CA A L'AIR DE SERVIR A RIEN*/
    height: 100%;
  }
  
  .nested-dropdown__header strong {
    margin-left: 20px;
    margin-right: auto;
    font-family: Arial;
    color: #fff;
    font-size: 1.6rem;
  }
  
  .nested-dropdown__header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #fff;
  }
  
  .nested-dropdown__header li {
    height: 70px;
    /*padding: 27px;*/
    position: relative;
  }
  
  .nested-dropdown__header li:hover {
    background: #f93;
    height: 70px;
    /*padding:27px;*/
    cursor: pointer;
  }

  /**/
  .nested-dropdown__menu .nested-dropdown__submenu li:hover {
    background: #f93;
    /*padding:16px;*/
    height: 50px;
    cursor: pointer;
  }
  .nested-dropdown__menu .nested-dropdown__submenu li {
    /*padding:16px;*/
    height: 50px;
  }
  /**/
  
  .nested-dropdown__header .nested-dropdown__menu,
  .nested-dropdown__header .nested-dropdown__submenu {
    display: none;
    position: absolute;
    background: #21587F;
    width: 150px;
    top: 100%;
    right: 0;
  }
  
  .nested-dropdown__header .nested-dropdown__category:hover .nested-dropdown__menu,
  .nested-dropdown__header .nested-dropdown__subcategory:hover .nested-dropdown__submenu {
    display: block;
    cursor: pointer;
  }
  
  .nested-dropdown__header .nested-dropdown__submenu {
    top: 0;
    right: 100%;
  }