.circle {
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:5px;
    color:#eee;
    line-height:50px;
    text-align:center;
    display: inline-block;
    background:#21587F;
}

.array-container {
    bottom: 70%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
}

.menu {
    height: 12%;
    width: 100%;
    background-color: #21587F;
    position: absolute;
}

.bar {
    height: 3px;
    width : 100%;
    background-color: #f93;
    position: absolute;
    top: 100%;
}

.bin-tree {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
}

.levels {
    position:absolute;
    width:20px;
    height:20px;
    border-radius:50px;
    font-size:10px;
    color:#fff;
    line-height:12px;
    text-align:center;
    display: inline-block;
    background: rgba(14, 39, 13, 0.747);
}

.button {
    position: absolute;
    margin-top: 1%;
    background-color: #21587F;
    font-family: Arial;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    outline: none;
  }
  
.button:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #21587F, #21587F);
    text-decoration: none;
    border:none;
    outline: none;
  }

.hamburger-menu__wrapper {
    min-height: 400px;
    position: relative;
    text-align: center;
    margin-top: 7px;
    margin-left: 10px;
  }

.hamburger-menu {
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
  }

.hamburger-menu__button {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 3;
    font-family: Arial;
    color: #fff;
    font-size: 16px;
  }

.hamburger-menu__wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

.hamburger-menu__wrapper input[type='checkbox'] {
    width: 150px;
    height: 40px;
    outline: 3px solid red;
    opacity: 0;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 4;
    cursor: pointer;
  }
  
.hamburger-menu__wrapper input:checked ~ .hamburger-menu__button {
    background: lightblue;
  }
  
.hamburger-menu__wrapper input:checked ~ .hamburger-menu__slider {
    transform: none;
  }
  
.hamburger-menu__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 205px;
    background-color: #21587F;
    z-index: 2;
    transform: translateX(-310px);
    transition: transform 0.3s;
    text-align: left;
    font-family: Arial;
    color: #fff;
    font-size: 10px;
  }

.hamburger-menu__item {
    padding: 10px 0 10px 10px;
  }
  
.hamburger-menu__item:hover {
    background-color: lightblue;
    cursor: pointer;
  }
  
.hamburger-menu__item:first-of-type {
    margin-top: 50px;
  }